@font-face {
  font-family: 'RocaOne';
  src: url(font/roca-one-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: RocaOne, sans-serif;
}

.CorNavbar {
  background-color: #503325;
}

.subir {
  transition: transform 1000 ease-in-out;
}

.subir li:hover {
  transform: scale(1.10);
}

.nav-item {
  position: relative;
  color: inherit;
}

.nav-item::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #FFD230;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.carousel-item {
  transition: transform 1s ease-in-out !important;
}


.wide-carousel-container {
  width: 90%; 
  margin-right: 5px; 
  overflow: hidden; /* Garante que o conteúdo que extrapola o contêiner seja escondido */
  border-radius: 45px;
}

.wide-carousel-img {
  height: 600px; 
  object-fit: fill; /* Garante que a imagem preencha tudo o container */
  opacity: 0.7;
}

.carousel-caption h3 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bolder;
}

.carousel-caption p {
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.corAmarela {
  font-weight: bold;
}


.suba {
  transition: transform 0.1s ease-in-out;
  display: inline-block; 
}

.suba:hover {
  transform: scale(1.10);
}

.category-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

.category-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.category-list {
  list-style-type: none; /* Remove os marcadores (bolinhas) da lista */
  display: flex;         /* O segredo para a lista horizontal! */
  justify-content: center; 
  padding: 0;
  margin: 0;
  flex-wrap: wrap;       /* Permite que os itens quebrem para a próxima linha em telas pequenas */
  gap: 15px;             /* Adiciona um espaçamento entre os itens */
}

.category-item a {
  display: block;
  padding: 12px 25px;
  background-color: #503325;
  color: #FFD230;
  text-decoration: none;
  border-radius: 25px; 
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; /* Efeito suave na transição */
}

.category-item a:hover {
  background-color: #FFD230;
  color:#503325;
}

.footerBotao {
  transition: background-color 0.5s, color 0.3s;
}


.footerBotao:hover {
  background-color: #503325;
  color:#FFD230;
}

.corFooter {
  background-color: #503325c1;
}



