@font-face {
  font-family: 'RocaOne';
  src: url(font/roca-one-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: RocaOne, sans-serif;
}

.CorNavbar {
  background-color: #503325;
}

.subir {
  transition: transform 1000 ease-in-out;
}

.subir li:hover {
  transform: scale(1.10);
}




