@font-face {
  font-family: 'RocaOne';
  src: url(font/roca-one-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: RocaOne, sans-serif;
  background-color: #503325c1;
}

.CorNavbar {
  background-color: #503325;
}

.subir {
  transition: transform 1000 ease-in-out;
}

.subir li:hover {
  transform: scale(1.10);
}

.nav-item::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #FFD230;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.wide-carousel-container {
  width: 90%; /* Ajuste a largura conforme sua necessidade. 100% para ocupar toda a largura disponível. */
  margin: 20px auto; /* Centraliza o carrossel na página */
  overflow: hidden; /* Garante que o conteúdo que extrapola o contêiner seja escondido */
}

.wide-carousel-img {
  height: 600px; /* Defina uma altura fixa para as imagens para que fiquem padronizadas */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção, cortando as partes extras */
}

/* Opcional: Ajustes para as legendas do carrossel */
.carousel-caption h3 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}





